.test{
    min-width:500px;

        min-height:300px;
    background:#fff;
}
.test h2{
    background:#0380ee;
    color:#f0f0f0;
    line-height:40px;
    font-size:20px;
    padding-left:30px;
}
.ztree li{
    line-height:20px!important;
    outline: 0;
    list-style: none;
    text-decoration: none;
}
.ztree:before{
    display: inline-block;
    content: "";
    top: 0;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    border-width: 0 0 0 1px;
}
.ztree ul{
    position: relative!important;
    margin: 0;
    padding-left: 10px;
    margin-left: 6px;
    top: -6px;
    padding-top: 10px;
}
.ztree li{
    position:relative!important;
    padding-left: 4px;
    margin-top:1px;
}
.ztree ul:before,#tree li:before{
    position:absolute!important;
}

.ztree{
    padding:0;
    padding-left: 10px;
}
/* 澶嶉�妗嗘牱寮�*/
.ztree .chk.ace-icon{
    color: #F9E8CE;
    width: 13px;
    height: 13px;
    line-height: 13px;
    font-size: 11px;
    border-radius: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #FAFAFA;
    border: 1px solid #CCC;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin:0 6px;
}
/* 澶嶉�妗嗘牱寮�*/
.ztree .chk.fa.fa-check{
    background-color: #F9A021;
    border-color: #F9A021;
    color: #FFF;
}
.fa-folder,.fa-folder-open,.a_docu{
    margin-right: 6px;
    font-size: 14px;
    top: 2px;
    position: relative;
}
/* 鎶樺彔鏃舵枃浠跺す鐨勯鑹�*/
.fa-folder{
    color:#FF892A!important;
}
/* 鎵撳紑鏃舵枃浠跺す鐨勯鑹�*/
.fa-folder-open{
    color:brown!important;
}
/* 鏈�悗涓�」寮�ご鍥炬爣棰滆壊 */
.a_docu{
    color:#478FCA!important;
}
.node_name{
    position: relative;
    top: 1px;
}
.ztree li:before{
    display: inline-block;
    content: "";
    top: 16px;
    left: -9px;
    width: 20px;
    height: 0;
    z-index: 1;
}
.ztree ul:before{
    display: inline-block;
    content: "";
    top: -9px;
    bottom: 24px;
    left: 0;
    z-index: 1;
    border-width: 0 0 0 1px;
}
.ztree li a{
    cursor: pointer;
}
.activeLiClick{
    background:rgba(98,168,209,.1);
}
.activeLiMouse{
    background:rgba(98,168,209,.1);
} 
.curSelectedNode{
    background:rgba(98,168,209,.1);
}