body{margin:0 auto;  font-family: "Microsoft YaHei", Arial;}
div, table, input, select, TEXTAREA,ul{font-size:14px;}  

img{ border:0px; vertical-align: middle;}
form{margin:0px;}

a:active{color: #2A2A2A; text-decoration: underline; cursor: pointer; }
a:link{color: #0076A3; text-decoration: underline; cursor: pointer;}
a:visited{color: #0076A3; text-decoration: underline; cursor: pointer;}
a:hover {color: #880000; text-decoration: underline; cursor: pointer;}

a.tpgray:active{color: #6a6a6a; text-decoration: underline; cursor: pointer; }
a.tpgray:link{color: #6a6a6a; text-decoration: underline; cursor: pointer;}
a.tpgray:visited{color: #6a6a6a; text-decoration: underline; cursor: pointer;}
a.tpgray:hover {color: #6a6a6a; text-decoration: underline; cursor: pointer;}
 
#divframe{border: 1px solid #ededed; background-color:#ededed; padding:6px 10px 6px 10px; min-width:860px; 
	width:expression((document.body.clientWidth < 860) ? "860px" : "100%");
}

/*文件图标模式，单位成员等div自动排列*/
div.divautoarrange{width: 150px; height: 24px; cursor:pointer; float:left; text-align: left; vertical-align: middle;}
div.divprevframe{width: 110px; height: 118px; cursor:pointer; float:left; text-align: center; vertical-align: middle;}
div.divautoarrange img {vertical-align:middle;}
div.divautoarrange input {vertical-align:middle;}

/*div单行文本*/
div.singletextline{width:100%; height:25px; line-height:25px; overflow: hidden;}

/*div单行分页*/
.pagination{padding-top:6px; text-indent: 4px; width:100%; height:32px; line-height:24px; overflow: hidden;}
/*div单行分页 分页输入框*/
.pagination input {position:static; +position:relative; top:0px; width:32px; height:20px; border: #C1C4C4 1px solid; color: #000000;}

/*普通页面的导航与边框DIV*/
div.divguide{
	padding-top: 0px !important; padding-top: 4px; 
	padding-left: 0px !important; padding-left: 6px; 
	width:100%; height:25px; line-height:25px; vertical-align: middle;
	border-bottom: 1px solid #C1C4C4;
	background-color:#efefef; 
}
div.divguide span{background-position: -300px -240px; width: 16px; height:16px; 
	vertical-align: middle; margin-top: 0px !important; margin-top: 2px; margin-left:6px !important; margin-left:0px;}
div.divborder{width:100%; display:-moz-inline-box; display:inline-block; border: 1px solid #C1C4C4; background-color:#ffffff;min-height:500px;height:auto !important;height:500px;}

/*文本描红*/
span.impr{color: #EE0000;}

/*说明文字*/
font.dsc{color:#666666;}
font.dsc2{color:#0076A3;}
font.f_red{color:#FF0000;font-weight:bold;}

/*1像素边框表格*/
.tabframe01 {border-collapse: collapse; border: 1px solid #C1C4C4;}
.tabframe01 tr{height:30px;}
.tabframe01 tr td{padding:4px; border-right:solid 1px #d8d8d8; border-bottom:solid 1px #C1C4C4;}

/*1像素边框表格*/
.tabframe02{border-collapse: collapse; border: 1px solid #C1C4C4;}

.tabframeX3 {border-collapse: collapse; border: 1px dashed #C1C4C4;}
.tabframeX3 tr{height:32px;}
.tabframeX3 tr td{padding:4px; border-right:dashed 1px #C1C4C4; border-bottom:dashed 1px #C1C4C4;}

/*表头颜色*/
.tr01{background-color:#EDEDED; height:30px;}

/*文本折行*/
.wrap{word-wrap:break-word;word-break:break-all;}

/*边框按钮*/
.edgebt{margin:0 auto; width: 80px; height: 22px; line-height:22px; text-align: center; vertical-align: middle; 
	background-image:url(../img/button_bg.png); display: -moz-inline-box: center !important; display:inline-block; cursor:pointer;}
/*文件消息*/
.divMsg{position:absolute;display:none;width:350px;height:180px;border: C1C4C4 1px solid;background-color: #ffffff;z-index:999;}

/*子菜单箭头图标样式*/
span.menu_right2{text-align:right; float:right; margin-top:7px !important; margin-top:-22px;}

.iptOrder{width:95%;border:1px solid #c1c4c4;}

.divEllipsis{word-wrap:break-word; text-overflow:ellipsis; width: 99%; margin:4px; line-height:16px;}
span.sp_ft{width:50px;display:-moz-inline-box; display:inline-block;}

#gicon{background-image: url(../img/all_icon.png) !important; background-image: url(../img/all_icon.gif); 
	background-repeat:no-repeat; overflow:hidden; 
	width: 16px; height: 16px; line-height:0;
	display:-moz-inline-box; display:inline-block;  vertical-align: middle; margin-right:4px; }
.gicon{background-image: url(../img/all_icon.png) !important; background-image: url(../img/all_icon.gif); 
	background-repeat:no-repeat; overflow:hidden;
	width: 16px; height: 16px;  line-height:0; 
	display:-moz-inline-box;display:inline-block; vertical-align: middle; margin-right:4px; }
.icon{width: 16px; height: 16px; margin-right:2px; vertical-align: middle;}
.icon2{width: 16px; height: 